@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}

:root {
    --main-font-color: #f2b632;
    --main-white: #fff;
    --main-font-dark-gray: #4d4d4d;
    --main-footer-bg-color: #141414;
    --main-font-family: "Dancing Script", cursive;
}

section {
    padding: 6rem 0;
    background-color: #000000;
}

p {
    line-height: 1.5;
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--main-font-dark-gray);
}

a {
    text-decoration: none;
    color: var(--main-white);
}


/*Reusable classes*/

.btn {
    display: inline-block;
    transition: all 650ms;
    border-radius: 3px;
    text-transform: uppercase;
}

.btn-info {
    font-size: 1.2rem;
    padding: 1rem;
    color: var(--main-font-color);
    border-bottom: 2px solid var(--main-font-color);
    margin: 2rem 0 4rem 0;
}

.btn-info:hover {
    background-color: var(--main-font-color);
    color: var(--main-white);
}

.custom-font {
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    font-size: 4.5rem;
    line-height: 1;
    font-weight: 100;
    margin-bottom: 1rem;
}

.custom-font-secondary {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-right: -5px;
    font-size: 2.5rem;
    line-height: 0.2;
    color: var(--main-font-dark-gray);
    margin-bottom: 5rem;
}

.our-menu__content{
    
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}

.content-top{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:3rem;
    font-size:3rem;
    color:#f2b632
}

.container-top {
    background-color: #000000;
}

.content-bottom{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}

.container-bottom{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,450px);
    grid-template-rows:repeat(1,300px);
    grid-gap:20px;
    padding: 2rem 0;
}

.center{
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;  
    width:100%;
}

.between-sec {
    padding: 25rem 0;
    text-align: center;
}

.between-sec-color {
    color: var(--main-white);
}


/*Header*/

header {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent), url("./header.jpg") bottom no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #000000;
}


/*Header nav toggle*/

.menu {
    padding: .5rem 1rem;
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    left:85%;
    top:3%;
    display: none;
    font-size: 2rem;
}

/*Header - nav*/



.nav {
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    position: relative;
    color:#fff;
    display:flex;
    justify-content: space-between;
    padding:1rem ;
}

#logo {
    display: block;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: -5px;
    
}

.nav .overlay ul {
    position: relative;
    height: 100%;
    display: flex;
    list-style: none;
}

.nav .overlay ul li {
    text-transform: uppercase;
    padding:0 1rem
}

.nav .overlay ul li a {
    display: block;
    font-size: 1.5rem;
    transition: all 650ms;
}

.nav .overlay ul li a:hover,
.nav .overlay ul li a .active:hover {
    color: var(--main-font-color);
}


/*Header Main text */

.main-text {
    margin: 16%;
    color: var(--main-white);
    user-select: none;
}

.main-text h1 {
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-size: 6rem;
    font-weight: 50;
    margin-bottom: 5px;
    left: 100%;
}

.main-text h1 span {
    color: var(--main-font-color);
}

.scroll {
    height: 100px;
    margin: 0% 5%;
}

.scroll a button {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.scroll a button span {
    color: #000;
    margin-right: 5px;
    border: 50px;
    border-radius: 50%;
    background-color: #f2b632;
    padding:1rem 1.5rem;

    
}


.scroll a button span em{
  position: relative;
    left:.2rem
    
}

/*community*/

.gallery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);

}

.gallery  img{
    width:320px;
    height:220px;
}

.Look{
    display:flex;
    
}
/* Section Our story*/

.store {
    width: 100%;
    min-height: 20rem;
    background: url("2.jpg") center no-repeat;
    background-size: cover;
}

.image-group img {
    width: 100%;
    min-height: 20rem;
}

.contact{
    display:flex;
    flex-direction: column;
    text-align:center;
    justify-content: center;
    align-items: center;  
    width:100%;
    color:#fff;
}

 .form-content {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
 .form-content .item {
    width: 100%;
    padding: 1rem 0;
  }
  
 .form-content .item label {
    padding-right: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  
 .form-content .item span {
    position: relative;
    padding-right: 1rem;
  }
  
 .form-content .item  input{
    width: 60%;
    border: 1px solid #a0a0a0;
    border-radius: 5px;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    padding: .8rem 0;
   
    margin: 0 2rem;
    background-color: none;
    color: #000;
  }
  
  .form-content input[type=text],.form-content input[type=email]{
      position: relative;
      left:1rem;
  }

 .form-content input:focus{
    border-color: #3376bc;
    -webkit-box-shadow: 0 0 8px 0 #3376bc;
            box-shadow: 0 0 8px 0 #3376bc;
  }
  
 .form-content .btn-info {
    font-size: 1.2rem;
    padding: 1rem 3rem;
    color:#000;
    border-bottom: 2px solid var(--main-font-color);
    border:none;
    font-weight: bold;
}
  
.footer a{
    font-size: 1.5rem;  
    padding:1rem;
}
.footer a:hover{
    color:#f2b632 
}

.footer .center ul.nav_links{
    padding:1rem 0;
    display: flex;  
    width:100%;
}

@media(max-width:768px){

    .menu{
        display: block;
    }
   
.nav .overlay {
    position: relative;
    display:none;
 
}
 


    .container-bottom{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows:repeat(2,1fr);

    }

    .gallery{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
    
    }
    
    .gallery  img{
        width:320px;
        height:220px;
    }
    
    .Look{
        justify-content: center;
        flex-wrap: wrap;  
    }
    .Look .image img{
        width:auto;
        height:220px;
    }

    .footer .center ul.nav_links{
        display: block;
    }
}